<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Perfil</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<pre>
		{{user.username}}
		{{user|pprint}}
		{{user.first_name}}
		{{user.last_name}}
		**{{ques_tags|pprint}}
	</pre>
	{% for question, tags in ques_tags %}
		<div>{{question}}</div>
		<div>{{tags}}</div> <br>
		{% for tag in question.tag.all %}
			-->{{tag}}
		{% endfor %} <br>
		---------------- <br>
		{% for tag in tags %}
			**{{tag}}
		{% endfor %}
	{% endfor %}
	<br>
	++{{facebook}}
	-->{{twitter}}
</body>
</html>